<div class="col-xs-6 col-md-4 house-item">
    <div class="row">
        <div class="col-xs-12 house-item--title">
            <a href="/search/<%- cid %>">
                <%- title %>
            </a>
        </div>

        <div class="col-xs-12 house-item--image">
            <div style="background-image: url(<%- img_url %>)"></div>
        </div>

        <div class="col-xs-12 house-item--summary">
            <div class="row">
                <div class="col-xs-9 house-item--text">
                    <%- summary %>
                </div>
                <div class="col-xs-3 house-item--price">
                    <%- price_formatted %>
                </div>
            </div>
        </div>
    </div>
</div>